<% provide(:title, @taxon.name) %>

<%= render 'light_section_pageheader', taxon: @taxon %>
<%= render 'main_content_section', taxonomies: @taxonomies, products: @products %>
<%= render 'light_section_pagefooter' %>
