<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row featuredCollection">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>人気カテゴリー</h4>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="thumbnail" onclick="location.href='<%= potepan_category_path(3) %>';">
          <div class="imageWrapper">
            <%= image_tag("home/featured-collection/featured-collection-02.jpg", :alt => "feature-collection-image") %>
            <div class="masking">
              <%= link_to(potepan_category_path(3), class: "btn viewBtn") do %>
                View Bags
              <% end %>
            </div>
          </div>
          <div class="caption">
            <h4>Bags</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="thumbnail" onclick="location.href='<%= potepan_category_path(7) %>';">
          <div class="imageWrapper">
            <%= image_tag("home/featured-collection/featured-collection-01.jpg", :alt => "feature-collection-image") %>
            <div class="masking">
              <%= link_to(potepan_category_path(7), class: "btn viewBtn") do %>
                View T-Shirts
              <% end %>
            </div>
          </div>
          <div class="caption">
            <h4>T-Shirts</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="thumbnail">
          <div class="imageWrapper">
            <%= image_tag("home/featured-collection/featured-collection-03.jpg", :alt => "feature-collection-image") %>
            <div class="masking">
              <div class="btn viewBtn">
                View Denim
              </div>
            </div>
          </div>
          <div class="caption">
            <h4>Denim</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row featuredProducts">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>新着商品</h4>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="owl-carousel featuredProductsSlider">
          <% new_products.each do |new_product| %>
            <div class="slide">
              <%= link_to(potepan_product_path(new_product.id)) do %>
                <div class="productImage">
                  <%= image_tag(new_product.display_image.attachment(:product), :alt => "featured-product-img") %>
                </div>
                <div class="productCaption">
                  <h5><%= new_product.name %></h5>
                  <h3><%= new_product.display_price %></h3>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
